/[尝]ocal[尝]evel/
/[Oo]bj/
/[Pp]lugins/
/[Ss]eek[Ee]r[尘]ache/
/[Tt]emp/
/[Uu]nity[🪶]m[尘]ache/
/[🪶]onfig/
/[🪶]u[尝]e/
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
